* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #00aace;
  color: #fff;
  min-height: 100vh;
  background-image: url(../images/rm222batch2-mind-03.jpg); /* ảnh bóng bay */
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  background: white;
  color: black;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo-img {
  height: 40px;
  object-fit: contain;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

select {
  padding: 6px;
  border-radius: 5px;
}

.header-signup {
  padding: 8px 16px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.left-content {
  max-width: 500px;
  text-align: center; /* thêm dòng này để căn giữa chữ */
  margin: 0 auto; /* nếu cần đẩy ra giữa container */
}

.left-content h1 {
  color: black;
  font-size: 48px;
  margin-bottom: 20px;
}

.left-content p {
  color: black;
  font-size: 18px;
  margin-bottom: 30px;
}

.main-signup {
  padding: 14px 65px;
  font-size: 16px;
  background: black;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.signup-box {
  background: white;
  color: black;
  padding: 30px;
  border-radius: 16px;
  right: -140px;
  width: 320px;
  position: absolute;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.signup-box h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.signup-box p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.signup-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.continue-btn {
  width: 100%;
  padding: 12px;
  background: #ccc;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 15px;
  font-weight: bold;
}

.or {
  text-align: center;
  margin: 10px 0;
  color: #aaa;
}

.google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 25px;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
